@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
html{
  font-family: 'Poppins', sans-serif
}

body{
  margin: 0;
}
button{
  cursor: pointer;
  font-family: inherit;
  background-color: whitesmoke;
  opacity: 0.5;
  color: black;
  border: 1px solid rgb(63, 63, 63);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
  font-size: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

  button:hover{
    opacity: 0.6;
    background-color: rgb(160, 160, 160);
    transform: scale(1.1);
    transition: 0.5s;
  }

  button:active{
    transform: scale(0.93)
  }

h1{
  text-align: center;
  font-size: 55px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);;
  color: white;
  font-family: 'Chela One', system-ui;
}

p{
  text-align: center;
  background-color: #fff9;
  color: black;
  padding: 15px;
  border-radius: 20px 5px 20px 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.author{
  font-size: smaller;
  width: 200px;
}
.container{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center center;
}

.phraseContainer{
  width: 345px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.phraseIcon{
display: flex;
justify-content: flex-end;
font-size: 1.5rem;
opacity: 0.5;
padding-top: 1rem;
}

@media screen and (min-width: 768px){
  .phraseContainer{
    width: 600px;
    height: 200px;
  }

  h1{
    font-size: 80px;
  }

  button{
    width: 300px;
    font-size: 20px;
  }

  .phraseIcon {
    font-size: 2rem;
    }
}
